body{
	background: #ADD8E6;
}
.header_top{
	background: gray;
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 5px;
}
 p{
	padding-top: 7px;
	padding-right: 0px;
}


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.footer_top{
	height: 5%;
	background: gray;
	color: gray
}
.footer_bottom > ul >li{
	display: inline-block;
	float: left;
	text-decoration: none;
	padding-right: 10px;
}
.footer_bottom > ul >li  a{
	text-decoration: none;
}
.footer_bottom > ul {
	margin-left: -39px;
	margin-top: -10px;
}

/*
.box1{
	background: #e6e6e6;
	margin-bottom: 15px;
	border-style: ridge;
    border-color: #e6e6e6;
    margin-left: 20px;
    margin-right: 23px;
      border-radius: 25px;     
}
.box2{
	background: #e6e6e6;
	margin-bottom: 15px;
	border-style: ridge;
    border-color: #e6e6e6;
    margin-left: 20px;
    margin-right: 23px;
    border-radius: 25px; 
}*/

.box1{
  background: #dfe2c5; 
  margin-bottom: 15px;
  /*border-style: ridge;
    border-color: #e6e6e6;             8ee2e1*/
    margin-left: 20px;
    margin-right: 23px;
    /*  border-radius: 5px;   */ 
    border: 0; 
}
.box2{
  background: #dfe2c5;
  margin-bottom: 15px;
  /*border-style: ridge;*/
    /*border-color: #e6e6e6;*/
    margin-left: 20px;
    margin-right: 23px;
    /*border-radius: 5px;*/ 
}
.box3{
	background: #e6e6e6;
	margin-bottom: 15px;
	border-style: ridge;
    border-color: #e6e6e6;
    margin-left: 20px;
    margin-right: 23px;
}
.box4{
	background: #e6e6e6;
	margin-bottom: 15px;
	border-style: ridge;
    border-color: #e6e6e6;
    margin-left: 20px;
    margin-right: 23px;
}

.container{
	background: white;
}
.row{
	margin-left: 7px;
	margin-right: 7px;
}
ul{
	margin-left: 0px;
}
.nav > ul li:hover{
	background: green;
}

.container>.navbar-header {
    margin-right: 0;
    margin-left: -15px;
}



